<app-header></app-header>

<!-- Page title section -->
<div class="section-xl bg-overlay bg-image parallax" style="background-image: url('assets/images/backgrounds/title-bg-1.jpg')">
    <div class="bg-dark-05">
        <div class="container text-center z-index-1">
            <h1 class="fw-bold uppercase letter-spacing-1 m-0">404 Error Page</h1>
        </div><!-- end container -->
    </div>
</div>
<!-- end Page title section -->

<div class="section-fullscreen">
    <div class="container">
        <div class="position-middle">
            <div class="row g-4 theme-color-blue">
                <div class="col-12">
                    <h1 class="display-2 fw-bold text-gradient-1 line-height-160">Oops! Page Not Found.</h1>
                    <h5 class="fw-light text-dark-05">The page you're looking for might have been moved, deleted, or
                        never existed.</h5>
                    <a class="button button-lg button-rounded button-font-2 button-gradient-1 mt-4" routerLink="/home-one"><i class="fas fa-home"></i><span>Go home page</span></a>
                </div>
            </div><!-- end row -->
        </div><!-- end position-middle -->
    </div><!-- end container -->
</div>