<app-header></app-header>

<!-- Page title section -->
<div class="section-xl bg-overlay bg-image parallax" style="background-image: url('assets/images/backgrounds/title-bg-1.jpg')">
    <div class="bg-dark-05">
        <div class="container text-center z-index-1">
            <h1 class="fw-bold uppercase letter-spacing-1 m-0">Our Services</h1>
        </div><!-- end container -->
    </div>
</div>
<!-- end Page title section -->

<!-- Services section -->
<div class="section">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4" *ngFor="let item of serviceItems">
                <img class="border-radius" [src]="item.img" [alt]="item.alt">
                <h5 class="fw-medium mt-4">{{ item.title }}</h5>
                <p>{{ item.desc }}</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Services section -->

<div class="section-xl bg-image parallax" style="background-image: url('assets/images/backgrounds/main-bg-2.jpg')">
    <div class="bg-dark-06">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <h1 class="fw-light m-0">Andor Studio Multipurpose HTML5 Template</h1>
                </div>
                <div class="col-12 col-lg-6 text-lg-end">
                    <a class="button button-xl button-radius button-white-2" routerLink="/contact">Contact Us</a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>