<footer>
  <div class="section-sm bg-dark">
    <div class="container">
      <div class="row align-items-center g-2">

        <!-- Logo / Name -->
        <div class="col-12 col-md-4 order-md-2 text-center">
          <ul class="list-inline-slash gap-3">
            <li>
                <a class="button-text-1" routerLink="/">Cookies Settings</a>
            </li>
            <li>
                <a class="button-text-1" routerLink="/">Privacy Policy</a>
            </li>
          </ul>
        </div>

        <!-- Social Links -->
        <div class="col-12 col-md-4 order-md-3 text-center text-md-end">
          <ul class="list-inline-sm">
            <li *ngFor="let social of socialLinks">
              <a class="button-circle button-circle-sm {{ social.class }}" routerLink="/">
                <i class="bi {{ social.icon }}"></i>
              </a>
            </li>
          </ul>
        </div>

        <!-- Copyright -->
        <div class="col-12 col-md-4 order-md-1 text-center text-md-start">
          <p>&copy; {{ year }} deidlab, All Rights Reserved.</p>
        </div>
      </div><!-- end row -->
    </div><!-- end container -->
  </div>
</footer>
<!-- end Footer -->
