<app-header></app-header>

<!-- Page title section -->
<div class="section-xl bg-overlay bg-image parallax" style="background-image: url('assets/images/backgrounds/title-bg-1.jpg')">
    <div class="bg-dark-05">
        <div class="container text-center z-index-1">
            <h1 class="fw-bold uppercase letter-spacing-1 m-0">Portfolio Four Columns</h1>
        </div><!-- end container -->
    </div>
</div>
<!-- end Page title section -->

<!-- Portfolio section -->
<div class="section">
    <div class="container">
        <div class="row portfolio-grid g-4 g-lg-4 border-radius">
            <!-- Portfolio box -->
            <div *ngFor="let work of works" class="col-12 col-md-3 portfolio-item">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="assets/images/portfolio/{{work.img}}" alt="gallery-img">
                    </div>
                    <a routerLink="/portfolio-two-column"></a>
                    <div class="portfolio-title">
                        <div>
                            <h5 class="fw-normal">{{work.title}}</h5>
                            <span>{{work.category}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end container -->
</div>
<!-- end Portfolio section -->

<div class="section-xl bg-image parallax" style="background-image: url('assets/images/backgrounds/main-bg-2.jpg')">
    <div class="bg-dark-06">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <h1 class="fw-light m-0">Andor Studio Multipurpose HTML5 Template</h1>
                </div>
                <div class="col-12 col-lg-6 text-lg-end">
                    <a class="button button-xl button-radius button-white-2" routerLink="/contact">Contact Us</a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>