<app-header></app-header>

<!-- Page title section -->
<div class="section-xl bg-overlay bg-image parallax" style="background-image: url('assets/images/backgrounds/title-bg-1.jpg')">
    <div class="bg-dark-05">
        <div class="container text-center z-index-1">
            <h1 class="fw-bold uppercase letter-spacing-1 m-0">Service Two</h1>
        </div><!-- end container -->
    </div>
</div>
<!-- end Page title section -->

<!-- Services section -->
<div class="section border-top pt-0">
    <div class="container">
        <div class="row icon-5xl g-4 mrt-80">
            <div class="col-12 col-lg-4" *ngFor="let service of services">
                <div class="bg-white border-radius border p-5">
                    <i class="{{ service.icon }} text-dark mt-2 text-gradient-1"></i>
                    <h5 class="fw-normal mt-2 text-gradient-1">{{ service.title }}</h5>
                    <p class="mb-2">{{ service.desc }}</p>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Services section -->

<div class="section-xl bg-image parallax" style="background-image: url('assets/images/backgrounds/main-bg-2.jpg')">
    <div class="bg-dark-06">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <h1 class="fw-light m-0">deidlab Studio Multipurpose HTML5 Template</h1>
                </div>
                <div class="col-12 col-lg-6 text-lg-end">
                    <a class="button button-xl button-radius button-white-2" routerLink="/contact">Contact Us</a>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>
